body {
    background-color: rgb(41, 38, 38);
    height: 90vh;
}

h1 {
    font-size: 50px;
    color: bisque;
    text-align: center;
    border-radius: 10px rgb(57, 54, 54);

}

img {
    width: 90vh;
    height: 200vh;
    margin: 8px;
}

p {
    font-size: 50px;
    color: bisque;
    margin: 10px;
}